Bottleneck >= 1.3.4
einops >= 0.6.0
matplotlib >= 3.7.0
nibabel >= 4.0.2
numpy >= 1.23.2
pandas >= 1.5.0
patsy >= 0.5.3
scikit_learn >= 1.1.2
scipy >= 1.8.0
seaborn >= 0.12.2
torchinfo >= 0.0.1
tqdm >= 4.64.1
tsaug >= 0.2.1
torch >= 2.0.0